---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import UnderConstruction from "@/components/Utils/UnderConstruction.astro";
---

<Layout title="Henrique GC">
  <Header />

  <main>
    <UnderConstruction />
  </main>
</Layout>
