<div
  class="container mx-auto flex items-center justify-between my-24 gap-[4.5rem] relative"
>
  <div class="absolute -z-10 top-10 -left-64 w-[50rem] h-[50rem]">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <radialGradient id="blueBallGradient" cx="50%" cy="50%" r="50%">
          <stop offset="0%" style="stop-color: #cce4ff; stop-opacity: 1"></stop>
          <stop offset="100%" style="stop-color: #ffffff00; stop-opacity: 0"
          ></stop>
        </radialGradient>
      </defs>
      <circle cx="50" cy="50" r="50" fill="url(#blueBallGradient)"></circle>
    </svg>
  </div>

  <div class="flex-1 flex items-center justify-center flex-col relative z-10">
    <div class="flex w-full px-44 items-center justify-center flex-col">
      <h1 class="text-6xl my-3 font-header text-title font-semibold">
        Hi, I'm Henrique and I'm a software engineer
      </h1>

      <div class="flex flex-col gap-4 mt-6">
        <p class="text-description leading-8 text-md">
          Pumpkin seasonal rich froth decaffeinated trifecta organic blue panna
          doppio. Body a whipped lungo variety spice seasonal body press
          mountain con macchiato. Medium coffee single white to caramelization
          siphon con siphon id as con go single. So ristretto pumpkin affogato
          cinnamon breve turkish organic. Lait black kopi dripper spice lait
          cultivar robusta panna whipped and sit aromatic sugar.
        </p>

        <p class="text-description leading-8 text-md">
          And café frappuccino extraction dHctZmlsdGVy froth sugar siphon coffee
          pumpkin press milk ristretto et au. Trade instant aged as wings bar
          seasonal pumpkin barista turkish shot go seasonal robusta. Strong iced
          lungo frappuccino espresso redeye macchiato aftertaste trade pot.
          Seasonal turkish mocha wings sit crema blue au and grounds eu cortado
          café cup. Filter viennese bar seasonal wings siphon as frappuccino go
          luwak single mazagran.
        </p>

        <p class="text-description leading-8 text-md">
          Pumpkin seasonal rich froth decaffeinated trifecta organic blue panna
          doppio. Body a whipped lungo variety spice seasonal body press
          mountain con macchiato. Medium coffee single white to caramelization
          siphon con siphon id as con go single. So ristretto pumpkin affogato
          cinnamon breve turkish organic. Lait black kopi dripper spice lait
          cultivar robusta panna whipped and sit aromatic sugar.
        </p>
      </div>
    </div>
  </div>
</div>
