---
import * as Icon from "@astropub/icons";
---

<div
  class="container mx-auto flex items-center justify-between my-24 gap-[4.5rem] relative"
>
  <div class="absolute -z-10 -top-56 -left-[40rem] w-[70rem] h-[70rem]">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <radialGradient id="blueBallGradient" cx="50%" cy="50%" r="50%">
          <stop offset="0%" style="stop-color: #cce4ff; stop-opacity: 1"></stop>
          <stop offset="100%" style="stop-color: #ffffff00; stop-opacity: 0"
          ></stop>
        </radialGradient>
      </defs>
      <circle cx="50" cy="50" r="50" fill="url(#blueBallGradient)"></circle>
    </svg>
  </div>

  <div class="flex-1 flex items-start justify-center flex-col relative z-10">
    <h1 class="text-6xl my-3 font-header text-title font-semibold">
      Helping businesses turn their ideas into reality
    </h1>

    <p class="text-description leading-8 text-lg">
      I'm a passionate developer, entrepreneur, and general technology
      enthusiast living in San Francisco. I've worked with hundreds of startups
      to help them develop their ideas into profitable businesses.
    </p>

    <div class="mt-8 flex items-center justify-center gap-4">
      <a href="#">
        <button
          class="w-1/2 px-6 py-3 text-sm leading-6 tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-full shrink-0 sm:w-auto hover:bg-blue-600 -blue-500 -600"
        >
          Book a call with me
        </button>
      </a>

      <a href="https://github.com/henriq4" target="_blank">
        <div class="rounded-full p-1 border border-gray-400">
          <Icon.GitHubLogo size="24" />
        </div>
      </a>

      <a href="https://www.linkedin.com/in/henriq4" target="_blank">
        <div class="rounded-full p-1 border border-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
              d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
            ></path></svg
          >
        </div>
      </a>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <img src="/me.jpg" class="h-[36rem] rounded-xl" />
  </div>
</div>
