<div class="container mx-auto flex items-center justify-between my-24 gap-12">
  <div class="flex-1 flex items-start justify-center flex-col">
    <h1 class="text-6xl font-semibold text-slate-800 my-3">
      Helping businesses turn their ideas into reality
    </h1>

    <p class="">
      I'm a passionate developer, entrepreneur, and general technology
      enthusiast living in San Francisco. I've worked with hundreds of startups
      to help them develop their ideas into profitable businesses.
    </p>

    <a href="/" class="mt-8">
      <button
        class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-full shrink-0 sm:w-auto hover:bg-blue-600 -blue-500 -600"
      >
        Book a call with me
      </button>
    </a>
  </div>

  <div class="flex items-center justify-center">
    <img src="/me.jpg" class="h-[36rem] rounded-xl" />
  </div>
</div>
