---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="pt-BR">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta charset="UTF-8" />
		<meta name="description" content="Henrique GC Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>

	<body>
		<slot />
	</body>
</html>